# Mac #
.DS_Store

# Windows #
Thumbs.db

*.class

# Package Files #
*.jar
*.war
*.ear

# Maven
/target

# Eclipse
.settings
.project 
.classpath

# Netbeans
nbactions.xml

# Video Files
*.mp4
*.ts
*.avi

# Others
native
logs
